[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Takkaaaaaaa
[access "refs/*"]
	owner = group user/Md Masud Rana (masudhstu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Md Masud Rana (masudhstu)
	label-Verified = -1..+1 group user/Md Masud Rana (masudhstu)
	push = group user/Md Masud Rana (masudhstu)
	read = group user/Md Masud Rana (masudhstu)
	rebase = group user/Md Masud Rana (masudhstu)
	removeReviewer = group user/Md Masud Rana (masudhstu)
	submit = group user/Md Masud Rana (masudhstu)
[access "refs/heads/*"]
	create = group user/Md Masud Rana (masudhstu)
	push = +force group user/Md Masud Rana (masudhstu)
	pushMerge = group user/Md Masud Rana (masudhstu)
	read = group user/Md Masud Rana (masudhstu)
[access "refs/tags/*"]
	push = group user/Md Masud Rana (masudhstu)
	push = +force group user/Md Masud Rana (masudhstu)
